<div class='container'>
  <div class='row'>
    <div class='col-md-10 mt-3'>
      <h2 class="heading-sub mt-3">グループ一覧</h2>
    </div>
  </div>
  <%= render 'public/groups/index', groups: @groups %>
</div>

<%#= javascript_pack_tag 'group', 'data-turbolinks-track': 'reload' %>