<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <h2 class="font-weight-bold mb-4">投稿一覧</h2>
      <% posts.each do |post| %>
        <div class="row">
          <div class="col-md-2">
            <label>ユーザー名</label>
          </div>
          <div class="col-md-2">
            <p><%= link_to post.user.name, user_path(post.user) %></p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-2">
            <label>タイトル</label>
          </div>
          <div class="col-md-2">
            <p><%= link_to post.title, post_path(post) %></p>
          </div>

          <div class="col-md-1">
            <label>本文</label>
          </div>
          <div class="col-md-7">
            <p><%= post.body %></p>
          </div>
          
          <div class="col-md-2">
            <label>コメント数</label>
          </div>
          <div class="col-md-2">
            <p><%= post.comments.count %></p>
          </div>
        </div>
        <hr class="mt-1">
      <% end %>
    </div>
  </div>
</div>