<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2 class="heading-sub mt-3">送信が完了しました</h2>
      <p>内容は以下の通りです。</p>

      <h6>[タイトル]</h6>
      <p><%= @title %></p>

      <h6>[本文]</h6>
      <p><%= @body %></p>
  </div>
</div>