<div class="section">
    <div class="overlay"></div>
    <div class="about-content">
        <h1 class="about-title">What   Are   Results ?</h1>
        <ol class="col-sm-10 col-md-10 mr-auto mt-10">
          <li class="about-list">成果＝生産性 × 投下時間</li>
          <li class="about-list">年代を問わずご利用いただけます</li>
          <li class="about-list">コミュニティサイトですのです</li>
        </ol>
    </div>
</div>
