<div class="section">
    <div class="overlay"></div>
    <div class="about-content">
        <h1 class="about-title">What   Are   Results ?</h1>
        <ol class="mt-10">
          <div class="row about-list-01">
            <div class=""></div>
              <h4 class="about-01">01</h4>
            <h4 class="about-01-title">成果とは</h4>
          </div>
            
          
          <p class="about-list">02　　生産性×投下時間</p>
          <p class="about-list">03　　当サイトの活用</p>
        </ol>
    </div>
</div>
<div class="row section-01">
  <div class="list-title ml-10">
    <h1 class="about-01">01</h1>
  </div>
  <div class="list-description col-md-8">
    <h1 class="about-01-sentence">成果とは</h1>
  </div>
</div>

<div class="card-about col-md-12">
  <div class="row no-gutters">
    <div class="card-img col-md-6">
      <%= image_tag 'top2.jpg' %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h4 class="card-title">hugo-de-blog.com</h4>
        <p class="card-text">技術ブログをつらつらと書いています</p>
        <a href="#" class="btn btn-primary">サイトへ</a>
      </div>
    </div>
  </div>
</div>