<div class="section">
  <div class="overlay"></div>
    <div class="about-content">
        <h1 class="about-title">What  Are  Results ?</h1>
        <ol class="mt-10">
          <div class="row mt-5">
            <h4 class="about-list">01</h4>
            <h4 class="about-list-title">成果とは</h4>
          </div>
          <div class="row mt-4">
            <h4 class="about-list">02</h4>
            <h4 class="about-list-title">生産性×投下時間</h4>
          </div>
          <div class="row mt-4">
            <h4 class="about-list">03</h4>
            <h4 class="about-list-title">当サイトの活用</h4>
          </div>
        </ol>
    </div>
</div>



<div class="container1 row">
    <div class="content-item1 col-md-6">
      <%= image_tag 'about-img1.jpg', class: 'image1 img-fluid' %>
    </div>
    <div class="content-item1 col-md-6">
      <div class="text1">
        <h2 class="heading1">01成果とは</h2>
        <p>成果とは、何らかの活動や努力の結果として得られる成果物や
        達成した目標のことを指します。
        これは、個人や組織が目指す方向に向かって取り組んだ結果であり、
        その成果が評価されることで、達成感や自己肯定感をもたらします。</p>
      </div>
    </div>
</div>

