<h1>aboutページ</h1>
<p>
  Rule of Threeは、成功体験を投稿できるサイトです。<br>
  年代を問わずご利用いただけます。<br>
  また、コミュニティサイトですのでグループも作成いただけます。<br>
  ぜひご活用ください。
</p>

<%= link_to root_path do %>
  <i class="fa-solid fa-tags"></i>
<% end %>
