<div class="container">
  <div class="jumbotron">
    <div class="mx-auto" style="width: 600px;">
      <h1>Rule Of Threeについて</h1>
    </div>
    <div class="mx-auto" style="width: 600px;">
      <p>
        当サイトは、成功体験を投稿・共有できるサイトです。<br>
        年代を問わずご利用いただけます。<br>
        また、コミュニティサイトですのでグループも作成いただけます。<br>
        ぜひご活用ください。
      </p>
    </div>
    <div class="mx-auto" style="width: 600px;">
      <%= link_to root_path do %>
        <i class="fa-solid fa-tags"></i>
      <% end %>
    </div>
  </div>
</div>