<div class="hero-section">
    <div class="overlay"></div>
    <div class="content">
        <h1>Welcome to Rule Of Three</h1>
        <p class="col-sm-10 col-md-10 mx-auto">
        当サイトは、成功体験を投稿・共有できるサイトです。<br>
        年代を問わずご利用いただけます。<br>
        コミュニティサイトですのでグループも作成いただけます。<br>
        ぜひご活用ください。
        </p>
        <div class="about-btn">
          <%= link_to "Learn More", about_path %>
        </div>
    </div>
</div>
