  .btn-primary:hover {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #00BFFF;
  border-color: #00BFFF;
  border-radius: 6px;
  transition: .3s;
  transform: scale(1.05);
}
  .btn-secondary:hover {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #333;
  // padding: 18px 30px;
  border-radius: 6px;
  transition: .3s;
  transform: scale(1.05);
}

.btn-danger:hover {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #DB7093;
  border-color: #DB7093;
  border-radius: 6px;
  transition: .3s;
  transform: scale(1.02);
}

.btn-info:hover {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #008080;
  border-color: #008080;
  border-radius: 6px;
  transition: .3s;
  transform: scale(1.05);
}