  .btn-primary:hover {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #31a2ac;
  border-color: #31a2ac;
  border-radius: 6px;
  transition: .3s;
  transform: scale(1.03);
}
  .btn-secondary:hover {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #222222;
  // padding: 18px 30px;
  border-radius: 6px;
  transition: .3s;
  transform: scale(1.03);
}

.btn-danger:hover {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #DB7093;
  border-color: #DB7093;
  border-radius: 6px;
  transition: .3s;
  transform: scale(1.03);
}

.btn-info:hover {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #008080;
  border-color: #008080;
  border-radius: 6px;
  transition: .3s;
  transform: scale(1.01);
}