#error_explanation {
  color: black;
  background-color: white; 
  padding: 10px;
  border-left: 5px solid #dc3545; 
  border-radius: 5px;
  margin: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#error_explanation ul {
  list-style: none;
  padding: 0;
}

#error_explanation li {
  margin-bottom: 8px; 
}

.fa-solid {
  margin-right: 8px; 
}

#error_explanation li i {
  color: #dc3545; 
  font-size: 14px; 
  vertical-align: middle; 
}
