.notice,
.alert {
  color: black; 
  background-color: white; 
  padding: 10px; 
  border-left: 5px solid; 
  border-radius: 5px; 
  margin: 12px 12px 2px; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  display: inline-block; 
  width: 100%;
}

.fa-solid {
  margin-right: 8px; 
}

.notice {
  border-color: #28a745; 
}

.alert {
  border-color: #dc3545; 
}
