form{
	width:600px;
	margin:0 auto;
}
.form-group{
	overflow: hidden;
	margin-bottom: 20px;
}
.label{
	float: left;
	margin-right: 20px;
	width:135px;
	border-left: solid 3px #FF6701;
	padding-left: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea{
	border: solid 1px #e0e0e0;
	border-radius:5px;
	padding:8px;
	font-size: 15px;
}

textarea{
	height: 300px;
}

.actions{
	text-align: center;
}