.form-group{
	overflow: hidden;
	margin-bottom: 20px;
}
.label{
	float: left;
	margin-right: 20px;
	width:250px;
	border-left: 5px solid  #31a2ac; 
	padding-left: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea{
	border: solid 1px #e0e0e0;
	border-radius:5px;
	padding:8px;
	font-size: 15px;
}

textarea{
	height: 300px;
}

.actions{
	text-align: center;
}