.swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.swiper {
    width: 100%;
    height: 100vh;

    .swiper-wrapper {

        .swiper-slide {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            p {
                position: absolute;
                top: 40%;
                left: 10%;
                color: #ffffff;
                font-size: 2.5vw;
                font-weight: bold;
                font-family: "Noto Sans Japanese";
            }
        }

        .swiper-slide-active {

            p {
                animation-name: fade-in;
                animation-duration: 2s;
                animation-delay: 2s;
                animation-fill-mode: both;
            }

        }
    }
}

.swiper-button-next, .swiper-button-prev {
  color: white !important;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.btn-section {
  background-color: #324851;
}

.about-btn {
  display: inline-block;
  margin: 1px 20px;
  padding: 10px 30px;
  background-color: transparent;
  border-style: solid;
  border-color: white;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.about-btn a {
  color: white;
}

.about-btn a:hover {
  text-decoration: none;
}

.about-btn:hover {
    background-color: #31a2ac;;
}

.top-img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.top-card-img {
  object-fit: cover;
  height: 200px;
}

.hr-custom-thick {
  border-width: 2px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #696969;
}
