/* ボタンのホバー時のスタイル */
input[type="submit"]:hover {
  // background-color: #dcdcdc; /* ホバー時の背景色を灰色に変更 */
  // color: grey; /* ホバー時のテキスト色を白色に変更 */
  // border: 1px solid #dcdcdc;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #333;
  // padding: 18px 30px;
  border-radius: 6px;
  transition: .3s;
  transform: scale(1.05);
}
