<div class="container-user">
  <div class="row mb-4 ml-2">
    <!-- サイドバー -->
    <div class="col-md-3">
      <h5 class="heading-sub mt-3">ユーザー詳細</h5>
      <div>
        <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle"; %>
      </div>
      <div>
        <p>ユーザー名: <%= @user.name %></p>
      </div>
      <% if current_user == @user %>
        <%= link_to "会員情報の編集", edit_user_path(@user.id), class: "btn btn-info" %>
      <% end %>
    </div>

    <!-- メインコンテンツ -->
    <div class="col-md-9">
      <h5 class="heading-sub mt-3">投稿履歴</h5>
      <%= render 'public/posts/index', posts: @posts %>
    </div>
  </div>
</div>
