<footer class="shadow-sm text-white p-0", style="background-color: #dcdcdc;">
  <div class="container-fluid">
    <div class="m-0 p-2 text-center">
      <span>© 2024 RuluOfThree INC. ALL RIGHTS RESERVED</span>
    </div>
  </div>
</footer>